/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Steelfish';
  src: url('SteelfishRg-Regular.woff2') format('woff2') url('SteelfishRg-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish';
  src: url('SteelfishRg-Italic.woff2') format('woff2') url('SteelfishRg-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Steelfish';
  src: url('SteelfishRg-Bold.woff2') format('woff2') url('SteelfishRg-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish';
  src: url('SteelfishRg-BoldItalic.woff2') format('woff2') url('SteelfishRg-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Steelfish';
  src: url('SteelfishEb-Regular.woff2') format('woff2') url('SteelfishEb-Regular.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish';
  src: url('SteelfishEb-Italic.woff2') format('woff2') url('SteelfishEb-Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}


/*-----------------Основа-----------------*/

:root {
  --second-main-text: #9b402b;
  --second-main: #F49C89;
  --main-text: #ECEEF8;
  --main: #34344E;
  --sub-text: #FFF;
  --line-color: rgba(52, 52, 78, 0.50);
}

html,
body {
  min-width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.2rem;
  font-family: 'Steelfish', 'Inter';
  color: var(--main-text);
  background-color: var(--main);
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 12px;
  height: 12px;
  left: 12px;
  right: -12px;
  top: 6px;
  bottom: 6px;
  transform: rotate(180.00deg);
  background: rgb(244, 156, 137);
}

/*----------Хед---------------*/

header {
  position: fixed;
  width: 360px;
  height: 58px;
  top: 0;
  z-index: 999;
  background-color: #34344E;
}

.head_main {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.logo {
  display: block;
  height: 12px;
  width: 12px;
  line-height: 60px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #F49C89;
  text-align: center;
  font-size: 2em;
}

.but__header {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 22px;
}

.but__header img {
  width: 44px;
  height: auto;
}

/*------Sec1------*/

.section_1 {
  padding: 82px 0 145px;
  background-image: url('/asset/image/Vector\ 1.png');
  background-size: cover;
  background-position: center;
}

.section_1__main-p {
  font-size: 5rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.sect_1-img_1 {
  border-radius: 200px;
  object-fit: cover;
  width: 85px;
}

.sect_1-img_2 {
  border-radius: 200px;
  object-fit: cover;
  width: 62px;
}


.section_1__main-p span {
  margin-left: 28px;
}

.section_1__sub-p {
  font-family: 'Inter';
  text-transform: uppercase;
}

.main-header__image-span {
  position: relative;
}

.desctop_variant {
  display: none;
}

.sect_one .main-header__image-span {
  display: inline-block;
}

.sect_one .main-header__image-span img {
  vertical-align: middle;
}

.sect_one .sect_1-img_1,
.sect_one .sect_1-img_2 {
  position: absolute;
  height: 41px;
}

.sect_1-img_1 {
  width: 85px;
  left: 198px;
  top: 204px;
}

.sect_1-img_2 {
  width: 62px;
  left: 48px;
  top: 259px;
}

.main-header__image-span ::before {
  content: '';
  background-size: 100px 100px;
  display: block;
  position: absolute;
  background-image: url('/asset/image/Se1_img1.png');
  width: 100px;
  height: 100px;
}

.section_1__block {
  text-align: center;
}

.section_1__button {
  width: 270px;
  padding: 13px 30px;
  color: var(--sub-text);
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Inter';
  background-color: #F49C89;
  border-radius: 100px;
  line-height: 100%;
}

.section_1__button:hover {
  transition: 0.3s;
  color: var(--second-mainitext);
  background-color: var(--main);
  border: 2px solid var(--second-main);
  padding: 11px 28px;
}

.section__bottom {
  margin: 20px 0;
  align-items: center;
  gap: 20px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.wrapper {
  max-width: 360px;
}

/*------------------Section 2-------------------*/

.about-studio {
  background-image: url('/asset/image/Vector\ 1.png');
  background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
}

.studio-card,
.studio-zone {
  background-color: white;
}

.studio-card,
.studio-zone {
    background-color: white;
}



.studio-card__title {
    font-family: 'Steelfish', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;

}

.studio-card__text {
    color: #242433;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;


}

.sudio-zone1__title {
    color: white;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 0.02px;
    word-wrap: break-word;
}

.about-studio__studio-card {
    border-radius: 10px;
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
}

.about-studio__title {
  color: #ECEEF8;
  font-family: 'Steelfish', 'Inter';
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  word-wrap: break-word;
}


.about-studio__title--right,
.about-studio__title--left {
    display: block;
    padding-left: 77px;
}

.studio-card__img {
  display: block;
  height: 336px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.studio-card__price {
  display: block;
  border-radius: 2rem;
  padding: 0.25rem;
  background-color: #F49C89;
  margin-top: 12px;
  padding: 5px 12px;
  width: 77px;
  text-align: center;
  transform: rotate(-5deg);
}

.studio-card__price--money {
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.studio-card__link {
  display: block;
  color: #fd6948e0;
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.48px;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-right: 20px;

}

.studio-card__oneline {
  display: flex;
  justify-content: space-between;
}


/*-----------------Section3------------------*/

.studio-card__oneline {
  display: flex;
  justify-content: space-between;
}

.studio-composition__title {
  color: #ECEEF8;
  font-family: 'Steelfish', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  margin-top: 85px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  white-space: nowrap;
}

.studio-composition__title--right {
  display: block;
  margin-left: 57px;
}

.studio-composition__list {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  margin: 0;
  overflow: auto;
}

.studio-composition__studio-zone {
  position: relative;
  border-radius: 10px;
  width: 261px;
  height: 410px;
  margin-right: 10px;
}

.studio-zone__img {
  border-radius: 10px;
  height: 261px;
  width: 261px;
  object-fit: cover;
}

.studio-zone__title {
  color: #242433;
  font-family: 'Steelfish', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.studio-zone__text {
  color: #242433;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;

}

.studio-zone--addition {
  background-color: #fd6948e0;
}

.studio-zone__title--addition {
  color: #FFF;
  font-family: 'Steelfish', sans-serif;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  margin: 18px 20px;
}


.studio-zone__list--addition {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.description {
  margin-bottom: 10px;
}

.description__text {
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin: 0;
}

.studio-zone__link {
  display: block;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 14px 36px;
  text-align: center;
  background-color: var(--first_color);
  text-decoration: none;
  margin: 10px;
}


/*-----------------Form-----------------*/
/* Общий div*/
.div_form {
  display: flex;
  width: 320px;
  padding-bottom: 0px;
  flex-direction: column;
  gap: 18px;
  border-radius: 10px;
  background: var(--light-blue, #ECEEF8);
  color: #34344E;
}

/*Лейбл*/
.form__label {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Фото в общем div*/
.form_img {
  width: 320px;
  height: 280px;
  border-radius: 10px;
  background: lightgray 50% / cover no-repeat;
}

.form_div1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 280px;
  height: 90px;
  align-items: center;
  padding: 15px 0px 0px 10px;
}

.div_form_d {
  display: flex;
  gap: 5px;
}

.div_form_p {
  color: var(--dark, #34344E);
  font-variant-numeric: lining-nums proportional-nums;
}

.p_div_form {
  padding: 0px 10px 0px 10px;
  color: var(--dark, #34344E);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  align-self: stretch;
  width: 280px;
  height: 17px;
}

.form_label {
  display: flex;
  width: 130px;
  gap: 10px;
  flex-shrink: 0;
}

/* Radio */
/* Скрытая используемая кнопка выбора*/

.real_radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  /* непрозрачность для Firefox */
}

/*Кастомная показываемая кнопка*/

.custom_radio {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #FFF;
  border: 2px solid #F49C89;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: text-top;
  position: relative;
}

/*Нажатие|Кастомная показываемая кнопка*/

.custom_radio::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  background: #F49C89;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in;
  /*плавная анимация*/
  display: none;
}

/*Привязка кастомной кнопки к используемой кнопки*/

.real_radio:checked+.custom_radio::before {
  display: inline-block;
}

.p_div_form2 {
  color: var(--dark_light, rgba(52, 52, 78, 0.50));
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}

/*Кнопище брони*/

.test2 {
  display: flex;
  width: 320px;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--peach, #F49C89);
  font-family: 'Inter';
  font-size: 10px;
  border: dotted #ECEEF8;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white, #FFF);
  margin-bottom: 15px;
}

/*-----------------FooterTest-----------------*/

.footer__wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 360px;
  min-width: 340px;
}

.footer__text {
  color: rgba(255, 255, 255, 0.40);
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  display: block;
  padding: 5px;
}

.text__privacy-policy,
.footer__developer,
.form,
.grid {
  display: block;
  text-decoration: none;
  color: white;
}
